@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Rose:wght@700&display=swap');

body{
    font-family: anton;
    font-size: 16px;
    color: maroon
}
/* NavBar */

.navbar navbar-toggler-icon {
  color: rgba(0, 0, 0, 0.5);
}

.navbar {
  overflow: hidden;
  background-color: #343a40;
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
}

.navbar-brand {
  font-weight: bolder;
}

/* Hero Section */

#hero-image{
  height: 600px;
  width: 100%;
  background-image: url("../images/sixfields.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#hero-outer p{
    color:maroon;
    padding-top: 50px;
}

/* Opponents Section */

.opponentsbadges img{
   width:50px;
   height:50px;
   object-fit:scale-down;
}

#map {
        height: 600px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

/* Fixtues Section */
.testbackground{
   background:  repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 15px,
  #ffd180 15px,
  #ffd180 30px
);
}
.testbox{
    height: 200px;
    width: 200px;
    background:  repeating-linear-gradient(
  to right,
  #0000ff,
  #0000ff 15px,
  #ffff1a 15px,
  #ffff1a 30px,
  );
}

.red{
    background-color: red
}
.blue{
    background-color:blue
}
.orange{
    background-color: orangered
}
.yellow{
    background-color: yellow
}
.white{
    background-color: white
}
.claret{
    background-color: maroon
}
.green{
    background-color: green
}
.blueyellow{
     background:  repeating-linear-gradient(90deg, 
     #1131eb ,
     #1131eb 15px,
     #f5da0a 15px,
     #f5da0a 30px);
}
.bluewhite{
     background:  repeating-linear-gradient(90deg, 
     #1131eb ,
     #1131eb 15px,
     #ffffff 15px,
     #ffffff 30px);
}
.redwhite{
     background:  repeating-linear-gradient(90deg, 
     #ff0000 ,
     #ff0000 15px,
     #ffffff 15px,
     #ffffff 30px);
}
.redwhitethin{
     background:  repeating-linear-gradient(90deg, 
     #ff0000 ,
     #ff0000 25px,
     #ffffff 5px,
     #ffffff 30px);
}